.mistake {
  border-color: #ff0000 !important;
  border-width: 5px;
}

.correct {
  border-color: #00ff00 !important;
  border-width: 5px;
}
.correctLeftOut {
  border-color: #ffff00 !important;
  border-width: 5px;
}
.correctColor {
  color: #228b22;
}

.mistakeColor {
  color: #ff0000;
}
