.list-container {
  margin-top: 40px;
}
.list-item {
  width: 90%;
  align-items: center;
  padding: 0px 20px;
  cursor: move;
  text-align: "center";
}
.list-item i {
  margin-right: 20px;
  font-size: 30px;
}

.okButton {
  position: relative;
  float: right;
  margin: 20px;
}
